[Unit]
Description=AWX daphne service
PartOf=awx.service
After=awx.service

[Service]
User=awx
Group=awx
EnvironmentFile=-/etc/sysconfig/awx
Environment=AWX_SETTINGS_FILE=/etc/tower/settings.py
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin:/var/awx/venv/bin
ExecStart=/var/awx/venv/bin/daphne -u /var/run/tower/daphne.sock awx.asgi:channel_layer
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=awx.service
