[Unit]
Description=AWX web service
After=syslog.target network.target
PartOf=awx.service
After=awx.service

[Service]
EnvironmentFile=-/etc/sysconfig/awx
Environment=AWX_SETTINGS_FILE=/etc/tower/settings.py
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin:/var/awx/venv/bin
User=awx
PermissionsStartOnly=true
ExecStartpre=mkdir /var/run/tower
ExecStartpre=mkdir chown awx:awx /var/run/tower
ExecStart=/var/awx/venv/bin/uwsgi --socket /var/run/tower/uwsgi.sock --module=awx.wsgi:application --stats /var/lib/awx/uwsgi.stats --chmod-socket=660 --vacuum --master --no-orphans --buffer-size=32768 --workers=16 --worker-reload-mercy=30 --harakiri=120 --max-worker-lifetime=3600 --max-requests=100000 --reload-on-rss=1024 --cheaper=4 --cheaper-algo=busyness --cheaper-initial=4 --cheaper-step=2
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=awx.service
