---
apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx-miracle
spec:
  service_type: nodeport
  ingress_type: none
  hostname: awx.minikube.maas
  image_version: {{ awx_image_version }}

