#!/usr/bin/env bash

source /var/awx/venv/bin/activate
make sdist
MYWD=`pwd`

cd /opt
tar xvzf ${MYWD}/dist/awx-{{ awx_image_version }}.tar.gz


cd /opt/awx-{{ awx_image_version}}
source /var/awx/venv/bin/activate

python setup.py install

