#!/usr/bin/bash

PACKAGEDIR="/tmp/awx/packages"
PACKAGES=`ls -1 ${PACKAGEDIR} | tr 'A-Z' 'a-z'`
PREFIX="awxrpm"

python3 -m venv /tmp/awxrpmvenv
source /tmp/awxrpmvenv/bin/activate
pip install --upgrade pip
pip install spec2scl
/usr/bin/rm -r /tmp/scl 2>/dev/null 
mkdir /tmp/scl 2>/dev/null 


COUNT=0
LOOP="TRUE"
while [[ $LOOP == "TRUE" ]];
do	
	LOOP="FALSE"	
	for PACKAGE in $PACKAGES
	do
		echo $PACKAGE
	
		cd ${PACKAGEDIR}/${PACKAGE}
		PACKAGEINFO=`find . -type d -path './*' -prune -print |cut -c 3-`  
		NAME=`echo $PACKAGEINFO | awk -F'-' '{ print $1 }'`
		VERS=`echo $PACKAGEINFO | awk -F'-' '{ print $2 }'`
		cd ${PACKAGEDIR}/${PACKAGE}
		SPFILE="${HOME}/rpmbuild/SPECS/${PACKAGE}.spec"
		if [[ -f $SPFILE ]];
		then
			rm  /tmp/scl/${PACKAGE}.scl.spec 2>/dev/null 
			spec2scl $SPFILE > /tmp/scl/${PACKAGE}.scl.spec
			SRC="${HOME}/rpmbuild/SOURCES/${NAME}-${VERS}.tar.gz"
			DST="${HOME}/rpmbuild/SOURCES/${PREFIX}-${NAME}-${VERS}.tar.gz"
			mv $SRC $DST
			rpmbuild -ba  /tmp/scl/${PACKAGE}.scl.spec --define "scl awxrpm" 
			if [[ $? == 0 ]];
			then
		                echo "$COUNT `date`: $PACKAGE OK: rpm created" >/dev/null 2>&1
			else
		                echo "$COUNT `date`: $PACKAGE ERROR: rpm failed" >/dev/null 2>&1
			fi
		else	

		    echo "`date`: $PACKAGE Error: No spec file" >/dev/null 2>&1
		fi

	done
done
