#!/usr/bin/env bash

source {{ awx_venv}}/bin/activate &&  umask 022 && awx-manage migrate
source {{ awx_venv}}/bin/activate &&  umask 022 && awx-manage collectstatic --noinput --clear -v0
if [[ $? == 0 ]];
then
    echo "Static files exported"
    exit 0
else
    echo "Static files export failed"
    exit 1
fi 

echo "from django.contrib.auth.models import User; User.objects.create_superuser('admin', 'root@localhost', 'password')" | GIT_PYTHON_REFRESH=quiet awx-manage shell
GIT_PYTHON_REFRESH=quiet awx-manage provision_instance --hostname=$(hostname)
GIT_PYTHON_REFRESH=quiet awx-manage register_queue --queuename=tower --hostnames=$(hostname)